<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Layout - fourth</title>
<link href="styles.css" type="text/css" rel="stylesheet">
</head>
<body>
<div>
  <aside> <img id="home-gif" src="homeicon.gif" width="14" height="14"> <a id="home" href="#">HOME</a><br>
    <br>
    <h3> CSS Basic</h3>
    <a  href="#">CSS Introduction</a><br>
    <a  href="#">CSS Syntax</a><br>
    <a  href="#">CSS How To</a><br>
    <a  href="#">CSS Background</a><br>
    <a  href="#">CSS Text</a><br>
    <a  href="#">CSS Font</a><br>
    <a  href="#">CSS Border</a><br>
    <a  href="#">CSS Outline</a><br>
    <a  href="#">CSS Margin</a><br>
    <a  href="#">CSS Padding</a><br>
    <a  href="#">CSS List</a><br>
    <a  href="#">CSS Table</a><br>
    <br>
    <h3>CSS Advanced</h3>
    <a  href="#">CSS Dimension</a><br>
    <a  href="#">CSS Classification</a><br>
    <a  href="#">CSS Positioning</a><br>
    <a  href="#">CSS Pseudo-class</a><br>
    <a  href="#">CSS Pseudo-element</a><br>
    <a  href="#">CSS Image Gallery</a><br>
    <a  href="#">CSS Image Opacity</a><br>
    <a  href="#">CSS Media Types</a><br>
    <a  href="#">CSS Summary</a><br>
    <br>
    <h3>CSS Examples</h3>
    <a  href="#">CSS Examples</a><br>
    <br>
    <h3>References</h3>
    <a  href="#">CSS2 Reference</a><br>
    <a  href="#">CSS2 Print</a><br>
    <a  href="#">CSS2 Aural</a><br>
    <a  href="#">CSS Units</a><br>
    <a  href="#">CSS Colors</a><br>
    <a  href="#">CSS Colorvalues</a><br>
    <a  href="#">CSS Colornames</a><br>
    <br>
    <h3>CSS Quiz</h3>
    <a  href="#">CSS Quiz</a><br>
    <a  href="#">CSS Exam</a><br>
    <br>
  </aside>
  <section>
    <h1>CSS Tutorial</h1>
    <a href="#"><img src="btn_previous.gif" width="100" height="20" alt="Previous"></a> <a href="#"><img src="btn_next.gif" width="100" height="20" alt="Next"></a><br>
    <br>
    <hr/>
    <h2 class="tutheader">CSS Tutorial</h2>
    <img src="logocss.gif" id="css" alt="picture">
    <p>Save a lot of work with CSS!<br>
      <br>
      In our CSS tutorial you will learn how to use CSS to
      control the style and layout of multiple Web pages all at once.</p>
    <a href="#">Start learning CSS!</a><br><br>
    
    <h2 class="tutheader">CSS Examples</h2>
    <p>Learn by 70 examples! With our editor, you can edit CSS, and click on a test button to view the result</p>
    <a href="">Try-It-Yourself!</a>
    
    <h2 class="tutheader">CSS Reference</h2>
    <p>At W3Schools you will find a complete CSS2 reference, listing properties, units of measurements, colors, and more.</p>
    <a href="#">CSS2 Reference</a>
    
    <h2 class="tutheader">CSS Quiz Test</h2>
    <p>Test your CSS skills	at W3Schools!</p>
    <a href="#">Start CSS Quiz!</a>
    <hr/>
    <a href="#"><img border="0" src="btn_previous.gif" width="100" height="20" alt="Previous"></a> <a href="#"><img border="0" src="btn_next.gif" width="100" height="20" alt="Next"></a><br>
    <br>
    <hr/>
  </section>
  <aside>
    <h4>SITE SEARCH</h4>
    <input alt="search" type="text" name="as_q" size="20">
    <input type="submit" value="...">
    </form>
    <a href="#">About W3Schools</a><br>
	<a href="">W3Schools Forum</a>						
  </aside>
  <aside>
    <img class="center" src="button.png" alt="button" width="95px" height="28px">
	<a href="#">Dynamic button image generation</a> </aside>
  <aside>
    <h4>WEB HOSTING</h4>
   <a href="#">$15 Domain Name Registration <br> 
   Save $20/year!</a></aside>
  <aside>
    <a href="#">UK Domain Names</a><br>
    <a href="#">UK Web Hosting</a><br>
    <a href="#">Alojamiento Web</a></aside>
  <aside>
    <a href="#">Buy UK Domains Names</a><br>
	<a href="">Register Domain Names</a></aside>
    <aside>
    <a href="#">Cheam Domain Names</a><br>
	<a href="#">Cheap Web Hosting</a></aside>
  <aside>
    <a href="#">Best Web Hosting</a></aside>
  <aside>
   <a href="#">Domain Name Registration</a></aside>
  <aside>
	<a href="#">PHP MySQL Hosting</a></aside>
  <aside>
    <a href="#">Top 10 WEB Hosting</a></aside>
  <aside>
    <a href="#">Web Hosting Providers</a></aside>
  <aside>
    <a href="#">Web Hosting Company</a></aside>
 <aside>
    <a href="#">Web Hosting Reviews</a></aside>
    <aside>
    <a href="#">UK Web Hosting</a></aside>
</div>
</body>
</html>
