@charset "utf-8";
/* CSS Document */
body
{
	font-family:Georgia, "Times New Roman", Times, serif;
	background-color:#a9a9a9;
	color:#000;
}

body>header
{
	text-align:center;
}

header>h1
{
	color:#FFF;
	font-size:32px;
	margin-top:30px;
	margin-bottom:30px;
}
article>header>h1
{
	color:#FFF;
	margin-top:25px;
	margin-bottom:25px;
	font-size: 20px;
}



ul li
{
	list-style-type:none;
	font-size:18px;
	font-weight:bold;
}
li>a
{
	color:#FFF;
	text-decoration:none;
}
li:last-child
{
	color:#FFF;
	text-decoration:underline;
}
li>a:hover
{
	background-color:#d3d3d3;
}

footer>p>a
{
	color:#000;
	text-decoration:none;
}


body>footer
{
	text-align:center;
	font-size:14px;
}
article>footer
{
	font-size:12px;
}

