<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Layout - fourth</title>
<link href="styles.css" type="text/css" rel="stylesheet">
</head>
<body>
<div>
  <nav>
    <ul>
      <li><a href="#">Apple</a></li>
      <li><a href="#">Toshiba</a></li>
      <li><a href="#">Lenovo</a></li>
      <li><a href="#">Dell</a></li>
      <li><a href="#">Asus</a></li>
      <li><a href="#">Hacer</a></li>
      <li><a href="#">HP</a></li>
    </ul>
  </nav>
  <section id="first">
    <article>
      <fieldset>
        <legend>Apple Mac Book</legend>
        <img src="laptop.jpg" alt="laptop">
        <p> 64GB SSD</p>
        <p>2GB DDR</p>
        <p>1300 USD 
          Intel Core i5 </p>
      </fieldset>
    </article>
    <article>
      <fieldset>
        <legend>Apple Mac Book</legend>
        <img src="laptop.jpg" alt="laptop">
        <p> 64GB SSD</p>
        <p>2GB DDR</p>
        <p>1300 USD 
          Intel Core i5 </p>
      </fieldset>
    </article>
    <article>
      <fieldset>
        <legend>Apple Mac Book</legend>
        <img src="laptop.jpg" alt="laptop">
        <p> 64GB SSD</p>
        <p>2GB DDR</p>
        <p>1300 USD 
          Intel Core i5 </p>
      </fieldset>
    </article>
    <article>
      <fieldset>
        <legend>Apple Mac Book</legend>
        <img src="laptop.jpg" alt="laptop">
        <p> 64GB SSD</p>
        <p>2GB DDR</p>
        <p>1300 USD 
          Intel Core i5 </p>
      </fieldset>
    </article>
    <article>
      <fieldset>
        <legend>Apple Mac Book</legend>
        <img src="laptop.jpg" alt="laptop">
        <p> 64GB SSD</p>
        <p>2GB DDR</p>
        <p>1300 USD 
          Intel Core i5 </p>
      </fieldset>
    </article>
    <article>
      <fieldset>
        <legend>Apple Mac Book</legend>
        <img src="laptop.jpg" alt="laptop">
        <p> 64GB SSD</p>
        <p>2GB DDR</p>
        <p>1300 USD 
          Intel Core i5 </p>
      </fieldset>
    </article>
  </section>
  <section id="second">
    <p>Min Price: 500USD</p>
    <input type="range" min="500" max="1500">
    <p>Max Price: 1500USD</p>
    <input type="range" min="500" max="1500">
    <p>Min RAM: 4GB</p>
    <input type="range" min="4" max="16">
    <p>Max RAM: 16GB</p>
    <input type="range" min="4" max="16">
  </section>
</div>
</body>
</html>
