<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Layout - second</title>
    <link href="styles.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div>
  <h1>Music Categories</h1>
  <article>
  <img src="img1.jpg" width="132" height="88" alt="music">
  <p>Evan more websites <strong>Just web Templates</strong>
  Evan more websites <strong>Just web Templates</strong><br/><br/>
  <input type="submit" class="A"  value="Add"/>
  <input type="submit" class="L"  value="Listen"/>
  </p>
  </article>
  <article>
  <img src="img2.jpg" width="132" height="88" alt="music">
  <p>Evan more websites <strong>Just web Templates</strong>
  Evan more websites <strong>Just web Templates</strong><br/><br/>
   <input type="submit" class="A"  value="Add"/>
  <input type="submit" class="L"  value="Listen"/>
  </p>
  </article>
  <article>
  <img src="img3.jpg" width="132" height="88" alt="music">
  <p>Evan more websites <strong>Just web Templates</strong>
  Evan more websites <strong>Just web Templates</strong>
  Evan more websites <strong>Just web Templates</strong>
  Evan more websites <strong>Just web Templates</strong>
  Evan more websites <strong>Just web Templates</strong>
   Evan more websites <strong>Just web Templates</strong>
  Evan more websites <strong>Just web Templates</strong>
  Evan more websites <strong>Just web Templates</strong></br> <br/>
   <input type="submit" class="A"  value="Add"/>
  <input type="submit" class="L"  value="Listen"/>
  </article>
</div>
</body>
</html>
